h1{
    text-align: center;
}

.output{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 100px;
}

#output {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 100px;
}

#jsonOutput {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 20px;
}

#jsonOutput2 {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 20px;
}

#addTxt {
    margin-bottom: 30px;
}

#reset {
    margin-bottom: 30px;
}

#searchBtn{
    margin-bottom: 30px;
}

section {
    margin: 0 auto;
}

.brand-logo{
    margin-left: 20px;
}

#nav-mobile li a{
    margin-right: 20px;
}

table{
    margin: 0 auto;
    width: 60%;
}

table tr th{
        text-align: center;
}

table tr td{
        text-align: center;
}

form{
    width: 60%;
}

#checkout{
    margin-top: 20px;
}

